# --------------------------
# Virtual environment
# --------------------------
venv/

# --------------------------
# Python cache files
# --------------------------
__pycache__/
*.py[cod]
*$py.class

# --------------------------
# IDE/editor files
# --------------------------
# PyCharm
.idea/

# --------------------------
# Logs and temp files
# --------------------------
*.log
*.tmp
.DS_Store

# --------------------------
# Jupyter Notebook Checkpoints
# --------------------------
.ipynb_checkpoints/